body{ font-family: 'Courier New', Courier, monospace; font-size: 12px;
background-color: #083a6381; margin: 0 5% 0 5%; }
div{ border: 1px solid #c0c0df; padding: 2%; }
.wrapp{ display: grid; grid-template-columns: repeat(7, auto); background-color: white;}
.title{ grid-column: 1 / 8;}
table, tr, td{ border: 1px solid gray; padding: 0.2em}
.flag{ color: rgba(243, 35, 35, 0.678)}
form{ margin: 0; padding: 0; display: grid}
