{% extends 'base.html' %}
{% block contenido %}
    <div class="title"><h2> Sistema de alta de Documentos <br> <br>
         Orquesta de Cámara de Zapopan</h2></div>
    <div class="title">
            <table>

                <th>id</th>
                <th>nombre</th>
                <th>puesto</th>
                <th>32 D {{ mes }}</th>
                <th>Estado de cuenta {{ mes }}</th>
                <th>Reporte de actividades</th>
                
        {% for k,v in musicos.items() %}
                <tr>
                    <td>{{ k }}</td>
                    <td>{{ v['nombre'] }}</td>
                    <td>{{ v['puesto']}}</td>
            
            {# Checar 32 D del usuario #} 
            {% if k|string + mes +'32d.pdf' in archivos %}
                    <td>  <a href="{{ url_for( 'static', filename= 'img/' + '32d'+ k|string + mes + '.pdf')}}">estadodecuenta.jpg</a></td>
            {%else %}
                    <td> No existe, <a href=""></a></td>
            {% endif %}

            {# Checar estado de cuenta del usuario #} 
            {% if k|string + 'ecuenta' + mes + '.pdf'  in archivos %}
                    <td>  <a href="{{ url_for( 'static', filename=  'img/' + k|string + 'ecuenta' + mes + '.pdf')}}">estadocuenta.jpg</a></td>
            {%else %}
                    <td> <span class="flag" > <i>No existe</i></span> <a href="{{ url_for( 'upload_docs', idmusico= k|string, doctype='estado_de_cuenta' )}}">subir archivo</a></td>
            {% endif %}

        {% endfor %}
                </tr>
            </table>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>


    {% endblock %}