{% extends 'base.html' %}
{% block contenido %}
<form action="" method="POST">
<div>
    <h1>{{ musicos[idmusico]['nombre'] }}</h1>
    <h2>Login para acceder a carta de datos bancarios</h2>
    <table>
        <th>Ingresa los datos requeridos</th>
        <tr>
            <td>palabra clave</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td colspan="2"><center><button>Enviar</button></center></td>
        </tr>
    </table>
</div>
</form>

{% endblock %}
