{% extends 'base2.html' %}
{% block contenido %}
<div class="wrapp3">
<div class="title">
<p>
    Lic. CRISTOPHER DE ALBA ANGUIANO  <br>
    Director de Cultura Zapopan <br>
    PRESENTE <br>
    <br>
    <br>
    
    {{ diasmes | string + ' de '  + mes_actual + ' de '  + anio }} <br><br>

    Por este conducto me permito informar que al final del mes de {{ mes_actual }} del año {{ anio }}, he cumplido con las actividades laborales
    correspondientes a {{ data | length }} servicios, comprendidos entre conciertos, ensayos presenciales y estudio personal, con el objetivo de
    preparar los conciertos de temporada próximos a presentarse en el Centro Cultural Constitución y su transmisión en medios
    digitales para alimentar la página de cultura
    <br><br><br>


    Sin más por el momento y adjuntando fotografías le agradezco y estoy a sus ordenes para cualquier comentario acerca del
    mismo.
    <br><br>
    <br><br>
    <br><br>

    Atentamente
    

    <br><br>
    <br><br>
    <br><br>
    {{ musicos[idmusico | int]['nombre'] }} <br><br>
    {{ musicos[idmusico | int]['puesto'] }} <br><br>


</p>
</div>
        {% for i in range( 0, diasmes + primerdiamessemana | int ) %}
            {% if i < primerdiamessemana | int  %}
                <div class='calendar'>
                        {{ dias_espanol[i] }} <br> <br>    
                </div>

            {% else %}
                <div class='calendar'>
                    {{ i + 1|int - primerdiamessemana | int }}
                    {{ dias_espanol[i] }} <br> <br>    
                    {% if data[(i+1-primerdiamessemana|int) | string ]   == 'x' %}
                        <p>Ensayo en ccc</p>
                    {% elif data[(i +1-primerdiamessemana|int)| string] == 'y' %}
                        <p>Concierto de temporada</p>
                    {% elif data[(i+1-primerdiamessemana|int)| string] == 'z' %}
                        <p>Estudio personal</p>
                    {% else %}
                        <p> {{ data[(i+1-primerdiamessemana|int) | string]}}</p>
                    {% endif %} 
                </div>
            {% endif %}
            
        {% endfor %}
</div>
        <p class="break"></p>
        <div class="wrapp2">
            {% for x in range(1,5) %}
            <div>
                <center>
                    <img src="{{ url_for( 'static', filename= 'files/foto' + x|string + '/' + idmusico|string + '-' + 'foto'+ x|string + '-' + mes_actual + '.jpg' ) }}">
                    <hr>
                    {{ musicos[idmusico | int]['nombre']  }} <br> {{ musicos[idmusico |int]['puesto'] }} <br> {{ mes_actual }}{{ anio }}
                </center>
            </div>
            {% endfor %}
            
        </div>

{% endblock %}
