{% extends 'base.html' %}

{% block contenido %}

<div class="title">
    <h3>Dar de alta 

    {% if doctype == 'ecuenta' %}
            Estado de Cuenta
    {% elif doctype[0:4] == 'foto' %}
        Fotos </h3> <br>
        <h3 class="alert">Selecciona EN GRUPO todas las fotos que vayas a subir </h3>
    {% else %}
        <h2 class="gray">
        {{ doctype }} </h1>
        </h2>
    {% endif %}

    <br> <h1 class="black"> {{ musicos[idmusico|int]['nombre'] }} </h1> 
        
    <h1 class="gray">Mes de {{ mes }}</h1>
    <br>
    
    <form action="upload_docs" method="post" enctype="multipart/form-data">
        <input type="file" name="files[]" multiple="true" id="docorfotos" autocomplete="off" required>
        <input type="hidden" name = "doctype" value="{{ doctype }}" id="doctype">
        <input type="hidden" name = "idmusico" value = "{{ idmusico }}">
        <input type="hidden" name = "mes_selected" value = "{{ mes }}">
        
        <input type="submit" value="manda" onclick="cuentaFotos()" >

    </form>
        
</div>
<script>
function cuentaFotos(){
    let ele = document.getElementById( 'docorfotos' ).files.length;
    let doc = document.getElementById( 'doctype' ).value;
    if( ele != 4 && doc.slice(0,4) === 'foto'){
        alert('No pueden ser menos de 4 fotos', ele, ' seleccionadas');
        location.reload();
    }
}
</script>
{% endblock %}


