{% extends 'base.html' %}
{% block contenido %}
<div>

{% for message in get_flashed_messages() %}
    <div> 
        <span class="error">{{ message }}</span>
    </div>

{% endfor %}

    <h3>
        Modificar o subir datos <br>
    </h3>
        <h1 class="black">
            {{ musicos[idmusico]['nombre'] }}
        </h1>
    <h1 class="gray">Archivos mes de {{ mes  }}</h1>
    <table id="usuario">
    <th>Documento</th>
    <th>Status</th>
    <th> </th>
    {% for d in docs %}
        {% set cadena = idmusico|string + '-' + d + '-' + mes %}
        <tr>
            <td>{{ d }}</td>
            {% if cadena + '.pdf' in archivos[d] %}
                    <td><center>
                        <a href="{{ url_for('static', filename= 'files/'+ d + '/' + cadena + '.pdf') }}">
                        <img src="{{ url_for('static', filename='img/cleared.png') }}" alt=""></a> 
                        {% if idmusico|string + '-' + d + '-' + mes + '.pdf' in fechas_dict %} <br> <span  class="fecha">subido el: {{ fechas_dict[cadena+'.pdf'] }} </span>{% endif %}
                       </center>
                    </td>
            {% elif cadena + '.xml' in archivos[d] %}
                    <td><center>
                        <a href="{{ url_for('static', filename= 'files/'+ d + '/' + cadena + '.xml') }}">
                        <img src="{{ url_for('static', filename='img/cleared.png') }}" alt=""></a> 
                        {% if idmusico|string + '-' + d + '-' + mes + '.xml' in fechas_dict %} <br> <span  class="fecha">subido el: {{ fechas_dict[cadena+'.xml'] }} </span>{% endif %}
                       </center>
                    </td>
            {% elif cadena + '.jpg' in archivos[d] %}
                    <td> <a href="{{ url_for('static', filename= 'files/'+ d + '/' + cadena + '.jpg') }}"> {{  cadena + '.jpg' }} </a> </td>
            {% else %}
                    <td> 
                        <center>
                            <a class="alert" href="{{ url_for('upload_docs', idmusico = idmusico|string, doctype = d, mes_selected=mes ) }}">
                            <img src="{{ url_for('static', filename='img/upload.png') }}" alt="subir archivo"></a>
                        </center>
                    </td>
            {% endif %}
                    <td> 

                        <a href="{{ url_for('upload_docs', idmusico = idmusico|string, doctype = d, mes_selected=mes) }}">
                        <img src="{{ url_for('static', filename='img/edit.png' )}}" alt="editar archivo">
                        </a>
                    </td>
        </tr>

    {% endfor %}
        {# Columna con reporte #} 
        <tr>
            <td>Reporte</td>
            <td  ><a href="{{ url_for('muestra_calendario' , idmusico=idmusico, mes_selected = mes ) }}">ver reporte</a></td>
        </tr>
        {# Columna con carta de datos bancarios #} 
        <tr>
            <td>Carta de <br> datos bancarios</td>
            <td  ><a href="{{ url_for('login' , idmusico=idmusico, mes_selected = mes ) }}">ver carta de <br> datos bancarios </a></td>
        </tr>
    </table>
<br> <br>

<p> <a href="{{ url_for('main', mes_selected = mes ) }}">Regresar</a></p>

</div>

{% endblock %}
